h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  color: #333333;
}

.field i {
  position: absolute;
  color: #828282;
  font-size: 20px;
}

.field {
  width: 100%;
  margin-bottom: 10px;
  margin-left: -4% !important;
}

.field__icon {
  padding: 10px;
  min-width: 40px;
}

.field__grid {
  padding: 0 !important;
}

.field__input {
  border: 1px solid #828282 !important;
  border-radius: 12px !important;
  padding-left: 40px !important;
  width: 90% !important;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2em;
}

.field__input::placeholder {
  color: #828282;
  font-family: Montserrat;
  font-size: 0.8em;
}

label{
  font-size: .8rem;
    color: #4F4F4F;
    font-family: Montserrat;
    font-weight: 600;
    padding-bottom: 10px;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: 0 0 0 0;
}

.divided {
  width: 38% !important;
}

.postal-code {
  margin-right: 10%;
  float: right !important;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .field__input {
    width: 94% !important;
  }
  .postal-code {
    margin-right: 7%;
  }
  .divided {
    width: 40% !important;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .field__input {
    width: 95% !important;
  }


  .postal-code {
    margin-right: 7%;
  }
  .divided {
    width: 40% !important;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .field {
    margin-left: -1%;
  }

  .field__input {
    width: 100% !important;
  }

  .divided {
    width: 45% !important;
  }

  .postal-code {
    margin-right: 3.8%;
  }

  .form__continue {
    margin-right: -7% !important;
  }
  
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {

  h1{
    margin-left: -1%;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  h1{
    margin-left: -1%;
  }
  .form__continue {
    margin-right: 8%;
  }

  .field {
    margin-left: -1%;
  }

  .field h3 {
    font-size: 1.2em;
  }

  .field__input {
    width: 90% !important;
    font-size: 1.1em;
  }

  .field__input::placeholder {
    font-size: 1.1em;
  }

  .divided {
    width: 42% !important;
  }

  .postal-code {
    margin-right: 10%;
  }


  .form__continue {
    margin-right: 2% !important;
  }

  h3 {
    font-size: 1.2em !important;
  }

  .field label{
    font-size: 1.1em !important;
  }
}
