h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 2em;
  line-height: 29px;
  color: #4e5150;
  margin-top: 10%;
}

.resume {
  background: #f2f2f2;
  border-radius: 12px;
}

.resume__article {
  padding: 7% 5% 0 !important;
}

.resume__article__image {
  width: 100%;
  border-radius: 13px;
}

.resume__article__text {
  margin-top: -3%;
  margin-left: -10% !important;
}

.resume__article__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 0.86em;
  line-height: 0;
  color: #4e5150;
}

.resume__article__price--active {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  color: #f2994a;
  padding-right: 10%;
}

.resume__article__price--old {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 0.8em;
  line-height: 12px;
  text-decoration-line: line-through;
  color: #4e5150;
}

.resume__article__amount {
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 6%;
  padding: 5% !important;
  text-align: center;
}

.resume__article__amount__text {
  padding: 0 20%;
  font-family: Montserrat;
  font-size: 1.2em;
  font-weight: 600;
}

h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
  color: #333333;
}

.field i {
  position: absolute;
  color: #828282;
  font-size: 20px;
}

.field {
  width: 100%;
  margin-bottom: 10px;
  margin-left: -4% !important;
}

.field__icon {
  padding: 10px;
  min-width: 40px;
}

.field__grid {
  padding: 0 !important;
}

.field__input {
  border: 1px solid #828282 !important;
  border-radius: 12px !important;
  padding-left: 40px !important;
  width: 90% !important;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.2em;
}

.field__input::placeholder {
  color: #828282;
  font-family: Montserrat;
  font-size: 0.8em;
}

label {
  font-size: 0.8rem;
  color: #4f4f4f;
  font-family: Montserrat;
  font-weight: 600;
  padding-bottom: 10px;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: none;
  box-shadow: 0 0 0 0;
}

.divided {
  width: 38% !important;
}

.postal-code {
  margin-right: 10%;
  float: right !important;
}

.form__checkbox {
  margin-top: 5%;
  margin-left: -4% !important;
}

.form__checkbox__span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3em;
  line-height: 15px;
  color: #4f4f4f;
}

.form__continue {
  margin-top: 10%;
  width: 150px;
  height: 50px;
  background-color: #f2994a;
  border: 1px transparent;
  color: white;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 12px;
  float: right;
  margin-right: -5%;
}

.form__continue:focus {
  background-color: #f2994a;
}

footer {
  text-align: center;
  padding: 10% 0 5%;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 0px;
  color: #a9a9a9;
}

[type="checkbox"].filled-in:checked + span:not(.lever):after {
  border: 2px solid #f2994a;
  background-color: #f2994a;
}

.resume__article__amount__button {
  font-family: Montserrat;
  font-size: 1.3em;
  font-weight: 400;
  border: 1px transparent;
  color: #828282;
  background-color: #e0e0e0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  padding: 0 4%;
}

.resume__article__amount__button:focus {
  background-color: #e1e1e1 !important;
}

.resume__total {
  margin-top: 10%;
  padding: 5% 7% !important;
}

hr {
  color: #bdbdbd;
  margin: 10px 0;
}

.resume__total__price {
  position: relative;
  float: right;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
}
.resume__total__title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1em;
  line-height: 17px;
}

/*Mobile M*/

@media screen and (min-width: 375px) and (max-width: 424px) {
  .field__input {
    width: 94% !important;
  }
  .postal-code {
    margin-right: 7%;
  }
  .divided {
    width: 40% !important;
  }
}

/*Mobile L*/

@media screen and (min-width: 425px) and (max-width: 767px) {
  .field__input {
    width: 95% !important;
  }

  .postal-code {
    margin-right: 7%;
  }
  .divided {
    width: 40% !important;
  }
}

/*Tablet*/

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .field {
    margin-left: -1%;
  }

  .field__input {
    width: 100% !important;
  }

  .divided {
    width: 45% !important;
  }

  .postal-code {
    margin-right: 3.8%;
  }

  .form__continue {
    margin-right: -7% !important;
  }
  .resume__article__image {
    width: 75%;
  }

  .resume__article__title {
    font-size: 1.4em;
  }

  .resume__article__price--active {
    font-size: 1.2em;
  }

  .resume__article__price--old {
    font-size: 1em;
  }

  .resume__article__amount {
    padding: 5% !important;
    margin-left: -7% !important;
  }

  .resume__article__amount__text {
    padding: 0 10%;
    font-size: 1.5em;
  }

  .resume__article__amount__button {
    font-size: 2em;
    width: 40px;
    height: 40px;
  }

  .resume__total {
    margin-top: 10%;
    padding: 5% 7% !important;
  }

  .resume__total__price {
    font-size: 1.3em;
  }

  .resume__total__title {
    font-size: 1.2em;
  }
}

/*Laptop*/

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  h1 {
    margin-left: -1%;
  }
  .container {
    width: 80%;
  }

  .resume {
    position: relative;
    float: right !important;
    width: 44% !important;
  }

  .resume__article__image {
    width: 85%;
  }

  .resume__article__title {
    font-size: 1.1em;
  }

  .resume__article__price--active {
    font-size: 1.1em;
  }

  .resume__article__price--old {
    font-size: 1em;
  }

  .resume__article__amount {
    padding: 6% 0% !important;
    margin-left: -7% !important;
  }

  .resume__article__amount__text {
    padding: 0 10%;
    font-size: 1em;
  }

  .resume__article__amount__button {
    font-size: 1.5em;
    width: 25px;
    height: 25px;
  }

  .resume__total {
    margin-top: 10%;
    padding: 5% 7% !important;
  }

  .resume__total__price {
    font-size: 1.1em;
  }

  .resume__total__title {
    font-size: 1em;
  }
}

/*Laptop L*/

@media screen and (min-width: 1440px) {
  .container {
    width: 80%;
  }

  .resume {
    position: relative;
    float: right !important;
    width: 44% !important;
  }

  .resume__article__image {
    width: 90%;
  }

  .resume__article__title {
    font-size: 1.3em;
  }

  .resume__article__price--active {
    font-size: 1.3em;
  }

  .resume__article__price--old {
    font-size: 1.1em;
  }

  .resume__article__amount {
    padding: 7% 0% !important;
    margin-top: 10%;
  }

  .resume__article__amount__text {
    padding: 0 10%;
    font-size: 1.5em;
  }

  .resume__article__amount__button {
    font-size: 2em;
    width: 40px;
    height: 40px;
  }

  .resume__total {
    margin-top: 10%;
    padding: 5% 7% !important;
  }

  .resume__total__price {
    font-size: 1.2em;
  }

  .resume__total__title {
    font-size: 1.3em;
  }

  .form__checkbox__span {
    font-size: 1.5em !important;
  }

  footer {
    font-size: 1.3em !important;
  }

  h1 {
    margin-left: -1%;
  }
  .form__continue {
    margin-right: 8%;
  }

  .field {
    margin-left: -1%;
  }

  .field h3 {
    font-size: 1.2em;
  }

  .field__input {
    width: 90% !important;
    font-size: 1.1em;
  }

  .field__input::placeholder {
    font-size: 1.1em;
  }

  .divided {
    width: 42% !important;
  }

  .postal-code {
    margin-right: 10%;
  }

  .form__continue {
    margin-right: 2% !important;
  }

  h3 {
    font-size: 1.2em !important;
  }

  .field label {
    font-size: 1.1em !important;
  }
}
